<%- model_class = Profile -%>

<% if @profile.user == current_user %>
  <h2>Signed in as: <%= current_user.email %></h2>
  <h5>your email can't be seen by visitors</h5>
<% else %>
  <h1>Profile</h1>
<% end %>

<hr>
<br>

<dl class="dl-horizontal">
  <dt><h5><strong><%= model_class.human_attribute_name(:first_name) %>:</strong></h5></dt>
  <dd><h3><%= @profile.first_name %></h3></dd>
  <dt><h5><strong><%= model_class.human_attribute_name(:favorite_hero_class) %>:</strong></h5></dt>
  <dd><h3><%= @profile.favorite_hero_class %></h3></dd>
  <dt><h5><strong><%= model_class.human_attribute_name(:battle_tag) %>:</strong></h5></dt>
  <dd><h3><%= @profile.battle_tag %></h3></dd>
  <dt><h5><strong><%= model_class.human_attribute_name(:steam_name) %>:</strong></h5></dt>
  <dd><h3><%= @profile.steam_name %></h3></dd>
</dl>
<% if @profile.user == current_user %>
    <%= link_to 'edit profile', edit_profile_path(@profile), :class => 'btn btn-info' %>
<% end %>

<hr>
<br>
<h2>arena decks: <%= @profile.user.decks.size %></h2>

<table class="table">
  <tr>
    <th>Deck name</th>
    <th>Total cost</th>
    <th>Total attack</th>
    <th>Total health</th>
    <th></th>
  </tr>
  <% @profile.user.decks.each do |deck| %>
    <tr>
      <td><%= link_to deck.name, deck_path(deck), class: "btn btn-info" %></td>
      <td><%= deck.cards.sum(:cost) %></td>
      <td><%= deck.cards.sum(:attack) %></td>
      <td><%= deck.cards.sum(:health) %></td>
      <% if @profile.user == current_user %>
      <td><%= link_to 'delete', deck_path(deck), method: :delete, class: "btn btn-danger" %></td>
      <% end %>
  <% end %>
</table>