<h1>
    listing all standard cards<br>
    ordered by cardset <small>basic, classic, whispers...etc</small>
</h1>

<%= will_paginate %>
<hr>

<% @cards.each do |card| %>

    <div id="float_index">
        <% if card.img == nil %>
             <%= link_to (image_tag "http://wow.zamimg.com/images/hearthstone/backs/animated/Card_Back_Default.gif", style: "height: 325px;"), card %>
             <p><%= card.name %></p>
        <% else %>
             <%= link_to (image_tag card.img, style: "height: 325px;"), card %>
             <p><%= card.cardSet %></p>
        <% end %>
    </div>
<% end %>

<%= will_paginate %>

<hr>