<h1>Neutral</h1>


<%= will_paginate @neutral %>
<div class="row">
    <h3>
    <div class="col-md-2">Card Set</div>
    <div class="col-md-2">Card Name</div>
    <div class="col-md-2">Class</div>
    <div class="col-md-2">Mana Cost</div>
    <div class="col-md-2">Rarity</div>
    <div class="col-md-2">Card Type</div>
    <h3>
</div>
<hr>

<% @neutral.each do |card| %>
    <div class="row">
        <div class="col-md-2">
            <h4><%= card.cardSet %></h4>
        </div>
        <div class="col-md-2">
            <h4><%= link_to card.name, card %></h4> 
        </div>
        <div class="col-md-2">
            <h4><%= card.playerClass %></h4>
        </div>
        <div class="col-md-2">
            <h4><%= card.cost %></h4>
        </div>
        <div class="col-md-2">
            <h4><%= card.rarity %></h4>
        </div>
        <div class="col-md-2">
            <h4><%= card.cardType %></h4>
        </div>
        
    </div>
<% end %>

<%= will_paginate @neutral %>