<h1><%= @card.name %></h1>

    <h4>cardSet: <strong><%= @card.cardSet %></strong></h4>
    <h4>cardType: <strong><%= @card.cardType %></strong></h4>
    <h4>faction: <strong><%= @card.faction %></strong></h4>
    <h4>rarity: <strong><%= @card.rarity %></strong></h4>
    <h4>mana cost: <strong><%= @card.cost %></strong></h4>
    <h4>attack: <strong><%= @card.attack %></strong></h4>
    <h4>health: <strong><%= @card.health %></strong></h4>
    <h4>text: <strong><%= @card.text %></strong></h4>
    <h4>flavor: <strong><%= @card.flavor %></strong></h4>
    <h4>artist: <strong><%= @card.artist %></strong></h4>
    <h4>collectible: <strong><%= @card.collectible %></strong></h4>
    <h4>elite: <strong><%= @card.elite %></strong></h4>
    <h4>race: <strong><%= @card.race %></strong></h4>
    <h4>playerclass: <strong><%= @card.playerClass %></strong></h4>
    <h4>how to get: <strong><%= @card.howToGet %></strong></h4>
    <h4>how to get gold: <strong><%= @card.howToGetGold %></strong></h4>
    <h4>language(locale): <strong><%= @card.locale %></strong></h4>
    
<div class="row">
    <% if @card.img == nil %>
        <img src='http://wow.zamimg.com/images/hearthstone/backs/animated/Card_Back_Default.gif' >
    <% else %>
        <%= image_tag @card.img, class: "col-md-6", style: "height: 425px; width: 325px;" %>
    <% end %>
    <% if @card.imgGold == nil %>
        <img src='http://wow.zamimg.com/images/hearthstone/backs/animated/Card_Back_Default.gif' >
    <% else %>
        <%= image_tag @card.imgGold, class: "col-md-6", style: "height: 425px; width: 325px;" %>
    <% end %>
        
</div>