<p>click on an image to select it</p>
<div class="row">
    <div class="col-md-9">
        <div class="row">
            <% @hero_class = @deck.name %>
            <% @rarity = random_rarity %>
            <% 3.times do %>
                <% @card = arena_random_card(@rarity, @hero_class) %>
                <div class="col-md-4">
                    <%= form_for(@deck_cards) do %>
                        <%= hidden_field_tag :card_id, @card.id %>
                        <%= hidden_field_tag :deck_id, @deck.id %>
                        <%= image_submit_tag @card.img, style: "height: 350px;", class: "center-block" %>
                    <% end %>
                    <h6 class="text-center"><%= @card.cardSet %></h6>
                </div>
            <% end %>
        </div>
    </div>
    <div class="col-md-3">
        <h1><%= @deck.name %></h1>
        <h3>cards: <%= @deck.cards.size %></h3>
        <table class="table table-condensed">
            <tr>
                <th>mana</th>
                <th>name</th>
                <th>rarity</th>

            </tr>
            <% @deck.cards.order(:cost).each do |card| %>
                <tr>
                    <td><%= card.cost %></td>
                    <td><%= card.name %></td>
                    <td><%= card.rarity %></td>
                </tr>
            <% end %>
        </table>
    </div>
</div>


    <script>
        $(".col-md-4").click(function() {
          $( this ).animate({ 
              opacity: 0.25,
              left: "+=600",
              height: "toggle"
          }, 700, function(){
          });
        });
    </script>