<p>click on an image to select it</p>
<button class="btn btn-info center-block">show meta scores</button>
<p></p>
<div class="row">
    <div class="col-md-9">
        <div class="row">
            <% if @deck.deck_cards.size < 27 %>
                <% @card_rarity = random_rarity %>
            <% else %>
                <% @card_rarity = last_four_rarity %>
            <% end %>
            <% arena_random_card(@card_rarity, @deck.name).each do |card| %>
                <div class="col-md-4">
                    <%= form_for(@deck_cards) do %>
                        <%= hidden_field_tag :card_id, card[:id] %>
                        <%= hidden_field_tag :deck_id, @deck.id %>
                        <%= hidden_field_tag :card_meta_score, meta_score(card, @deck.name) %>
                        <%= image_submit_tag card[:img], style: "height: 350px;", class: "center-block" %>
                    <% end %>
                    <h4 id="cname" class="text-center"><%= card.name %></h4>
                    <h4 class="text-center"><%= card.playerClass %></h4>
                    <h3 class="text-center"><%= meta_score(card, @deck.name) %></h3>
                </div>
            <% end %>
        </div>
    </div>
    <div class="col-md-3">
        <h1><%= @deck.name %>:
            <%= @deck.cards.size %>
        </h1>
        <table class="table table-condensed">
            <tr>
                <th><%= image_tag "mana.png", style: "height: 23px;" %></th>
                <th>name</th>
                <th>rarity</th>

            </tr>
            <% @deck.cards.order(:cost).each do |card| %>
                <tr>
                    <td><%= card.cost %></td>
                    <td><%= card.name %></td>
                    <td><%= card.rarity%></td>
                </tr>
            <% end %>
        </table>
    </div>
</div>


    <script>
        $(".col-md-4").click(function() {
          $( this ).animate({ 
              opacity: 0.25,
              left: "+=600",
              height: "toggle"
          }, 700, function(){
          });
        });
        
        $('h3').hide();
        
        
        $('button').click(function() {
            $(this).hide();
            $('h3').show();
            
        });
    </script>