<% @hero_cards = [] %>
<% @cards = Card.all %>
<% hero_names.each do |name| %>
    <% @cards.each do |card| %>
        <% if card.name == name %>
            <% @hero_cards << card %>
        <% end %>
    <% end %>
<% end %>

<div class="text-center">
<h3>
    <%= radio_button_tag(:arena_choice, "standard") %>
    <%= label_tag(:standard_choice, "Standard Arena") %>
    <%= radio_button_tag(:arena_choice, "wild") %>
    <%= label_tag(:wild_choice, "Wild Minion Arena") %>
</h3>
</div>

<div class="row">
    <% @hero_cards.shuffle.pop(3).each do |card| %>
        <div class="col-md-4">
            <%= form_for @deck do |f| %>
                <%= hidden_field_tag :name, card.playerClass %>
                <%= image_submit_tag card.img, style: "height: 350px;" %>
            <% end %>
        </div>
    <% end %>
    
</div>