<h1>Decks Rankings by meta score</h1>

<%= will_paginate @decks %>

<table class="table table-responsive">
    <tr>
        <th>Meta Score</th>
        <th>Hero</th>
        <th>Owner</th>
        <th>Free</th>
        <th>Classic</th>
        <th>Rare</th>
        <th>Epic</th>
        <Th>Legendary</Th>
    </tr>
    <% @decks.order(meta_score: :desc).each do |deck| %>
      <% if deck.meta_score == nil %>
          <% deck.meta_score = 0 %>
          <% deck.save %>
      <% end %>
        <tr>
          <td><strong><%= link_to deck.meta_score, deck_path(deck), class: "btn btn-info" %></strong></td>
          <td><strong><%= deck.name %></strong></td>
          <td><strong><%= link_to deck.user.profile.battle_tag, deck.user.profile %></strong></td>
          <td><strong><%= deck.cards.where(rarity: 'Free').count %></strong></td>
          <td><strong><%= deck.cards.where(rarity: 'Common').count %></strong></td>
          <td><strong><%= deck.cards.where(rarity: 'Rare').count %></strong></td>
          <td><strong><%= deck.cards.where(rarity: 'Epic').count %></strong></td>
          <td><strong><%= deck.cards.where(rarity: 'Legendary').count %></strong></td>
        </tr>
    <% end %>
</table>

<%= will_paginate @decks %>