<body class="bg-image">
<% if @deck.deck_cards.size < 31 %>
    <%= render 'arena' %>
<% else %>

    <br>
    <h2><%= @deck.name %></h2>
    <%= link_to @deck.user.profile.battle_tag, @deck.user.profile, class: "btn btn-info" %>
    <table class="table table-responsive">
        <tr>
            <th>Total score</th>
            <th>Free</th>
            <th>Common</th>
            <th>Rare</th>
            <th>Epic</th>
            <th>Legendary</th>
            <th></th>
        </tr>
        <tr>
            <td><strong><%= @deck.meta_score %></stong></td>
            <td><strong><%= @deck.cards.where(rarity: 'Free').count %></stong></td>
            <td><strong><%= @deck.cards.where(rarity: 'Common').count %></stong></td>
            <td><strong><%= @deck.cards.where(rarity: 'Rare').count %></stong></td>
            <td><strong><%= @deck.cards.where(rarity: 'Epic').count %></stong></td>
            <td><strong><%= @deck.cards.where(rarity: 'Legendary').count %></stong></td>
            <% if @deck.user == current_user %><br>
                <td><%= link_to 'delete deck', deck_path(@deck), method: :delete, class: "btn btn-danger" %></td>
            <% end %>
        </tr>
    </table>
    <hr>
    <% @deck.cards.order(:cost).each do |card| %>
        <div class="showdeck">
            <%= image_tag card.img, style: "height: 250px" %><br>
            <h4><%= meta_score(card, @deck.name) %></h4>
        </div>
    <% end %>
<% end %>

</body>