<% if (@deck.deck_cards.size < 31) %>
   <%= render 'arena' %>
<% else %>
    <h1>deck: <%= @deck.name %></h1><br>
    <%= link_to 'view profile', current_user.profile, class: "btn btn-info" %><br>
    <% if @deck.user == current_user %><br>
        <%= link_to 'delete deck', deck_path(@deck), method: :delete, class: "btn btn-danger" %>
    <% end %>
    <hr>
    <% @deck.cards.order(:cost).each do |card| %>
        <%= image_tag card.img, style: "height: 250px" %>
    <% end %>
<% end %>