<nav class="navbar navbar-fixed-top navbar-inverse">
    <div class="container-fluid">
        <ul class="nav navbar-nav">
            <li><%= link_to 'Home', root_path %></li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  Hero Classes <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li><%= link_to "Druid", druid_path %></li>
                  <li><%= link_to 'Hunter', hunter_path %></li>
                  <li><%= link_to 'Mage', mage_path %></li>
                  <li><%= link_to 'Paladin', paladin_path %></li>
                  <li><%= link_to 'Priest', priest_path %></li>
                  <li><%= link_to 'Rogue', rogue_path %></li>
                  <li><%= link_to 'Shaman', shaman_path %></li>
                  <li><%= link_to 'Warlock', warlock_path %></li>
                  <li><%= link_to 'Warrior', warrior_path %></li>
                </ul>
            </li>
            <li><%= link_to 'Neutral Cards', neutral_path %></li>
            <li><%= link_to 'disclaimer', about_path %></li>
            <li><%= link_to 'Enter Arena', new_deck_path %></li>
            <li><%= link_to 'All decks', decks_path %></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><%= link_to 'All players', profiles_path %></li>
            <% if user_signed_in? %>
                <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                          Account Settings <b class="caret"></b>
                        </a>
                    <ul class="dropdown-menu">
                        <% if current_user.profile == nil %>
                            <li><%= link_to 'Create Player Profile', new_profile_path %></li>
                        <% else %>
                            <li><%= link_to 'My Player Profile', current_user.profile %></li>
                        <% end %>
                        <li><%= link_to 'Edit Sign in settings', edit_user_registration_path %></li>
                        <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
                    </ul>
                </li>
            <% else %>
                <ul class="nav navbar-nav">
                    <li><%= link_to 'Sign In', new_user_session_path %></li>
                    <li><%= link_to 'Sign Up', new_user_registration_path %></li>
                </ul>
            <% end %>
        </ul>
    </div>
</nav>